<head>
  <!-- Eyevinn HTML Player CSS -->
  <link rel="stylesheet" href="https://player.eyevinn.technology/v0.4.2/build/eyevinn-html-player.css"></link>
</head>
<body>
  <div>
    <form>
      Channel Name : <input id='channel_name' type='text'/><br>
      Youtube URL : <input id='source_url' type='text'/><br>
      <input type='button' onclick="onClickStreamConnect()", value='스트림 연결'>
    </form>
  </div>

  <!-- The element where the player will be placed -->
  <div id="player-wrapper"></div>

  <!-- Eyevinn HTML Player Javascript -->
  <script src="https://player.eyevinn.technology/v0.4.2/build/eyevinn-html-player.js" type="text/javascript"></script>

  <!-- Initiate the player and auto-play with audio muted -->
  <script>
    // set params
    server_url = 'http://localhost:8989'
    media_server_url = 'http://localhost:8080'

    function startStream(stream_url) {
      setupEyevinnPlayer('player-wrapper', stream_url).then(function(player) {
        var muteOnStart = true;
        player.play(muteOnStart);
      });
    }

    function onClickStreamConnect() {
      console.log('Start stream connect.')
      channel_name = document.getElementById('channel_name').value
      source_url = document.getElementById('source_url').value

      fetch(`${server_url}/stream/start`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            channel_name: channel_name,
            source_url: source_url
          }
      )}).then((res) => {
        console.log(res.status)
        if (res.status == 200) {
          stream_url = `${media_server_url}/hls/${channel_name}/index.m3u8`
          console.log(`Success start stream from ${stream_url}`)
          startStream(stream_url)
        }
        else {
          console.log('Error start stream.')
        }
      });
    }

  </script>
</body>

