<head>
  <!-- Eyevinn HTML Player CSS -->
  <link rel="stylesheet" href="https://player.eyevinn.technology/v0.4.2/build/eyevinn-html-player.css"></link>
</head>
<body>
  <div>
    <div>
      <form>
        Source URL : <input id='sourceUrl' type='text'/><br>
        <input type='button' onclick="onClickStreamConnect()", value='스트림 연결'>
      </form>
    </div>
    <div id="player-wrapper"></div>  <!-- The element where the player will be placed -->
  </div>


  <!-- Eyevinn HTML Player Javascript -->
  <script src="https://player.eyevinn.technology/v0.4.2/build/eyevinn-html-player.js" type="text/javascript"></script>

  <!-- Initiate the player and auto-play with audio muted -->
  <script>
    // set params
    let server_url = 'http://localhost:8989'
    let media_server_url = 'http://localhost:8080'
    
    let player = document.getElementById('player-wrapper')


    function startStream(streamUrl) {
      setupEyevinnPlayer('player-wrapper', streamUrl).then(function(player) {
        let muteOnStart = true;
        player.play(muteOnStart);
      });
    }

    function onClickStreamConnect() {
      console.log('Stream Connect.')
      let sourceUrl = document.getElementById('sourceUrl').value

      fetch(`${server_url}/stream/start`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            sourceUrl: sourceUrl
          }
      )}).then((res) => {
        let streamUrl = `${media_server_url}/hls/${res.channelName}/index.m3u8`
        console.log(`Success to connect stream from ${streamUrl}`)
        startStream(streamUrl)
      }).catch((err) => {
        console.error('Error stream connection.')
        console.error(err.stack)
      })
    }

  </script>
</body>

